@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 3, 3, 3; */

}

.a-hover {
  position: relative;
}

.a-hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2.1px;
  background: rgb(var(--foreground-rgb));
}

.a-hovered {
  position: relative;
}

.a-hovered::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2.1px;
  background: rgb(var(--foreground-rgb));
  transition: width 0.3s ease-in-out;
}

.a-hover:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}