footer {
    margin: 0 auto;
    border-top: 1px solid white;

}

.footer_links {
    margin: 1em auto 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer_links > * {
    margin: auto 2em;
}

.footer_links img {
    width: 3em;
    height: 3em;
}

iframe {
    display: block;
    margin: 2em auto;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}