.article {
    margin: 0 auto;
    max-width: 650px;
    padding: 30px 15px;
    font-size: 24px;
    line-height: 1.5;
}

.title {
    font-size: 3em;
    margin-bottom: 1em;
}

.article a {
    color: #276ab6;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .article {
        padding: 60px 20px;
    }

    .title {
        font-size: 2em;
    }
}
