.bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../../../public/img/binary-repeat.png);
    filter: invert(1) brightness(0.4);
    animation: swipe 120s linear infinite;
}

.main {
    /* margin: 1em auto 0 auto; */
    margin: auto;
    z-index: 10;
    background-color: white;
    width: 70vw;
    max-width: 1200px;
    user-select: none;
    box-shadow: -15px 0 15px 5px rgba(0, 0, 0, 0.1), 15px 0 15px 5px rgba(0, 0, 0, 0.1);
}

.jumbo {
    user-select: text;
    height: 37vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.title {
    font-size: 3.5em;
    margin-bottom: 0;
}

.title,
.subtitle {
    font-weight: 300;
    text-align: center;
}

.nav {
    height: 63vh;
}

.nav ul {
    padding-left: 0 !important;
    text-align: center;
    height: 100%;
    width: 280px;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav ul li {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    padding: 0.42em 0;
}

.nav ul li a {
    z-index: 20;
    width: 100%;
    font-size: 2.75rem;
    font-weight: 300;
    text-decoration: none;
    color: #111;
    width: 100%;
}

.nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: #000;
    opacity: 87%;
    transition: width 0.18s;
}

.nav ul li a:hover::after {
    width: 100%;
}


/* .nav ul li a::after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../../../public/img/binary-repeat.png);
    animation: swipe 8s linear infinite;
    object-fit: fill;
    content: "";
    height: 100%;
    width: 0;
    transition: width 0.2s ease-in-out;
} */

@keyframes swipe {
    0% {
        background-position: 0% 50%;
        /* filter: invert(1) brightness(0.4); */
    }

    50% {
        background-position: 100% 50%;
        /* filter: invert(1) brightness(0.4); */
    }

    100% {
        background-position: 0% 50%;
        /* filter: invert(1); */
    }
}

.nav ul li a:hover::after {
    width: 100%;
}

.nav ul li a:hover {
    color: #000;
}

.quicklinks {
    width: 100%;
    margin: 2rem auto 0 auto;
}

@media screen and (max-width: 1000px) {
    .quicklinks {
        width: 100%;
    }
}

.quicklinks .title {
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
}

.quicklinks ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.quicklinks ul li {
    width: 320px;
    height: 90px;
    padding: 12px;
    border: 1px solid #fff2;
    border-radius: 5px;
    margin: 16px 10px;
    transition: all 0.11s ease-in-out;
}

.quicklinks ul li:hover {
    transform: translateY(-8px);
}

.quicklinks ul li a {
    height: 100%;
    width: 100%;
    color: unset;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.quicklinks ul li a * {
    margin: 0;
    padding: 0;
}

.quicklinkheader {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.quicklinks ul li a img {
    height: 22px;
    width: 22px;
    margin: 0 6px 0 2px;
    background-color: #444;
    padding: 8px;
    border-radius: 8%;
}

.quicklinks ul li a p {
    margin-top: 1.2em;
    text-align: center;
}